.loginFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #000;
    background: transparent;
    opacity: 0.45;
}

.loginFooterTitle {
    margin-bottom: 8px;
}

.copyIcon {
    margin-right: 4px;
}
