.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.title {
    font-size: 33px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
}

.titleTip {
    margin-top: 12px;
    font-size: 14px;
    color: #000;
    opacity: 0.45;
}
